.dialog-header {
  align-items: center;
  margin-bottom: 50px;
  padding-right: 70px;

  .title {
    font-size: 34px;
    font-weight: 700;
    color: #211c37;
    line-height: 100%;
  }

  .subtitle {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #121212;
  }
}

.dialog-button-row {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;

  button {
    width: 75px;
    font-size: 13px;
  }
}

.dialog-sair {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  border: none;

  img {
    width: 24px;
  }
}
