@import "primeicons/primeicons.css";

* {
  font-family: "Inter";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.subtitle {
  color: #121212;
  font-weight: 500;
  font-size: 14px;
}

.icon {
  padding: 5px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

.icon:hover {
  background-color: #e6e6e680;
}
