form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-row {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-top: 10px;
  button {
    width: 100px;
  }
}

textarea {
  height: 200px;
}
