.screen {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: white;
}

.icon-div {
  top: 4px;
}

.pesquisar {
  padding: 10px 10px;
  background-color: #f7f9fa;
}

.screen-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: #f7f9fa;
  overflow-y: auto;
}

@media screen and (max-width: 1000px) {
  .menu-lateral {
    display: none;
  }

  .content {
    padding: 30px 10px !important;
  }
}
